.home .hero img
  max-height 180px

.search-box .suggestion a
  white-space normal

 @font-face {
  font-family: "MTN Brighter Sans";
  src: url("/theme/MTNBrighterSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style:normal;
  font-display:auto;
  text-rendering:optimizeLegibility;
}

@font-face {
  font-family: "MTN Brighter Sans";
  src: url("../fonts/MTNBrighterSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style:normal;
  font-display:auto;
  text-rendering:optimizeLegibility;
}

body {
    font-family: "MTN Brighter Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300
}

h1,h2,h3,h4,h5,h6 {
    font-family: "MTN Brighter Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700
}